/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }