<main class="flex flex-col gap-4 items-center justify-center">
        <div class="flex flex-wrap gap-4 input-holder items-center justify-center w-full">
            <div class="flex flex-col gap-2 max-w-sm">
                <label for="name-input">Nome</label>
                <input id="name-input" class="p-2 border border-neutral-200" #nameInput>
            </div>
            <div class="flex flex-col gap-2 max-w-sm">
                <label for="description-input">Description</label>
                <input id="description-input" class="p-2 border border-neutral-200" #descriptionInput>
            </div>
            <div class="flex flex-col gap-2 max-w-sm">
                <label for="repo-input">Repo</label>
                <input id="repo-input" class="p-2 border border-neutral-200" #repoInput> 
            </div>
            <div class="flex flex-col gap-2 max-w-sm">
                <label for="website-input">Website</label>
                <input id="website-input" class="p-2 border border-neutral-200" #websiteInput>
            </div>
            <div class="flex flex-col gap-2 max-w-sm">
                <label for="download-input">Download</label>
                <input id="download-input" class="p-2 border border-neutral-200" #downloadInput>
            </div>
            <div class="flex flex-col gap-2 max-w-sm">
                <label for="status-input">Status</label>
                <select id="status-input" class="p-2 border border-neutral-200" #statusSelect>
                    <option value="COMPLETE">Completo</option>
                    <option value="INPROGRESS">Em Progresso</option>
                    <option value="INCOMPLETE">Incompleto</option>
                </select>
            </div>
        </div>
        
        <button class="p-2 border border-neutral-200 h-fit hover:bg-neutral-100 max-w-sm" (click)="clickSubmit()">Criar</button>
</main>
