
<div class="flex flex-col lg:flex-row gap-4">
    <h4 class="text-base font-bold md:text-2xl">{{title}}</h4>
    <div class="habilidade-container flex gap-4">
    @for (skill of skills; track skill.id) {              
        <p key={valor} class="text-neutral-600 text-base md:text-lg flex justify-center gap-1">
        @if (skill.image) {
            <img [src]="`${urlImagens}${skill.image.id}`" style="max-width: 32px; max-height: 32px;" alt="icone" />
        }
        {{skill.name}}</p>
    }
    </div>
</div>
